.container__slider {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 20px;

  }
  .slider{
    margin-top: 20px;
  }
  
  .container__slider > button {
    background-color: transparent;
    outline: none;
    border: 0;
    color: whitesmoke;
    font-size: 24px;
  }
  
  .container__slider > button:active {
    color: black;
  }
  
  .slider__btn-next {
    position: absolute;
    right: -25px;
    top: 50%;
    font-size: 30px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.1);

  }
  
  .slider__btn-prev {
    position: absolute;
    left: -25px;
    top: 50%;
    font-size: 30px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.1);
  }
  
  .container__slider__links {
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
    /* border-radius: 0Im; */
    display: flex;
    width: 93%;
    align-items: center;
    /* border: 1px solid; */
    justify-content: space-between;
  }
  
  .container__slider__links-small {
    position: relative;
    width: 25%;
    height: 4px;
    padding: 0;
    border-radius: 50px;
    outline: none;
    border: 0;
    background-color: rgba(255,255,255,1);
    /* border: 1px solid rgba(67, 97, 238, 1); */
    transition: background-color 1s ease;
    margin: 0 2px;
  }
  
  .container__slider__links-small-active {
    background-color:  rgba(67, 97, 238, 1)
  }
  
  .slider__item {
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    height: auto;
    transform: translateX(0);
    transition: transform 1s ease;
  }
  
  .slider__item-active-1 {
    transform: translateX(0);
  }
  
  .slider__item-active-2 {
    transform: translateX(-100%);
  }
  
  .slider__item-active-3 {
    transform: translateX(-200%);
  }
  
  .slider__item-active-4 {
    transform: translateX(-300%);
  }
  
  .slider__item-active-5 {
    transform: translateX(-300%);
  }
  
  .slider__item-active-6 {
    transform: translateX(-300%);
  }
  
  .slider__item-active-7 {
    transform: translateX(-300%);
  }
  
  .slider__item img {
    width: 100%;
    height: auto;
  }
  .button-handler{
    position: relative;
  }